.App {
  text-align: center;
  background-color: rgba(192, 194, 209, 0.7);
  font-family: "Poppins", sans-serif;
  max-width: 700px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  padding: 15px;
  margin-top: 50px;
}

.App-header {
  background-color: rgba(163, 184, 200, 0.3);
  border-radius: 5px;
  padding: 20px;
}

.App-header h1 {
  font-family: "Sixtyfour Convergence", sans-serif;
  font-size: 80px;
  margin: 10px;
}

.App-header h5 {
  margin: 5px;
  font-size: 18px;
}

.App-main {
  margin-top: 30px;
  max-width: 80%;
  display: block;
  margin: 0 auto;
  padding: 50px;
}

a:link {
  color: plum;
}

a:hover {
  color: orange;
}

footer {
  margin: 20px;
}

@media (max-width: 600px) {
  .App {
    margin: 15px;
  }

  .App-header h1 {
    font-size: 50px;
  }
  .App-header h5 {
    font-size: 16px;
  }
  .App-main {
    padding: 20px;
    margin: 5px;
    max-width: 95%;
  }
}
