:root {
  --primary-color: rgb(11, 89, 106);
  --secondary-color: rgb(54, 177, 205);
}

.App {
  text-align: center;
  background-color: rgba(192, 194, 209, 0.7);
  font-family: "Poppins", sans-serif;
  max-width: 700px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  padding: 15px;
  margin-top: 50px;
}

.App-header {
  background-color: rgba(163, 184, 200, 0.5);
  border-radius: 5px;
  padding: 20px;
}

.App-header h1 {
  font-family: "Monoton", sans-serif;
  font-size: 120px;
  font-weight: 600;
  line-height: 1;
  margin: 10px;
  color: var(--primary-color);
}

.App-header span {
  font-size: 50px;
  font-family: "Rock Salt", cursive;
  display: block;
  line-height: 0.3;
}

.App-header h5 {
  margin: 5px;
  font-size: 18px;
  color: rgb(11, 89, 106);
}

.App-main {
  margin-top: 30px;
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

a:link {
  color: var(--primary-color);
}

a:hover {
  color: orange;
}

footer {
  margin: 20px;
  color: var(--primary-color);
}

@media (max-width: 600px) {
  .App {
    margin: 15px;
  }

  .App-header h1 {
    font-size: 50px;
  }
  .App-header h5 {
    font-size: 16px;
  }
  .App-main {
    padding: 20px;
    margin: 5px;
    max-width: 95%;
  }
}
