:root {
  --primary-color: rgb(11, 89, 106);
  --secondary-color: rgb(54, 177, 205);
}

.question {
  border: 2px solid #ccc;
  background-color: rgba(249, 249, 249, 0.4);
  padding: 20px 10px;
  border-radius: 10px;
  font-size: 22px;
  color: var(--primary-color);
}
p {
  font-size: 12px;
  opacity: 0.6;
}

ul {
  list-style-type: none;
  display: inline;
}

.btn-option {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  width: 90%;
  color: var(--primary-color);
}
.btn-option:hover {
  background-color: var(--secondary-color);
}

.result-container h2 {
  padding: 20px;
  color: var(--primary-color);
}

@media (max-width: 600px) {
  .question {
    font-size: 18px;
    padding: 15px 5px;
  }

  li {
    font-size: 16px;
    padding: 8px 15px;
  }
}
